strict-ssl=false
registry=https://registry.npmjs.org/
@boozallen-uip:registry=https://nexus.dev.bip.va.gov/repository/npm-internal/
@va-bip:registry=https://nexus.dev.bip.va.gov/repository/npm-internal/
noproxy[]=registry.npmjs.org